/**********
 * 00 VAR *
 **********/
:root {
  --propotional-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", Arial, sans-serif;
  --monospace-font: ui-monospace, Menlo, Monaco, "Fira Mono", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Droid Sans Mono", "Courier New", monospace;
  --site-gutter: 20px;
  --header-background: black;
  --terminal-background: #282828;
  --terminal-text: #ebdbb2;
  --terminal-text-light: #928374;
  --body-text: #ebdbb2;
  --body-text-light: #bdae93;
  --body-background: #3c3836;
  --entry-padding-inline: 12px;
  --site-header-height: 60px;
  --nav-link-padding-inline: 4px;
}

@media screen and (min-width: 25rem) {
  :root {
    --nav-link-padding-inline: 12px;
    --site-gutter: 24px;
  }
}

@media screen and (min-width: 40rem) {
  :root {
    --site-gutter: 40px;
    --nav-link-padding-inline: 16px;
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --site-gutter: 120px;
  }
}

/************
 * 01 RESET *
 ************/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
  outline: revert;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul,
ol {
  list-style: none;
}

summary {
  list-style: revert;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

/**************
 * 02 ELEMENT *
 **************/
body {
  font-family: var(--propotional-font);
  font-size: 18px;
  color: var(--body-text);
  background-color: var(--body-background);
  line-height: 1.4;
}

a {
  cursor: pointer;
}

h2 {
  color: var(--h2-color);
  line-height: 1.2;
  font-size: 32px;
  font-weight: bold;
  font-family: var(--monospace-font);
}

h3 {
  line-height: 1.2;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--monospace-font);
}

summary {
  cursor: pointer;
  font-family: var(--monospace-font);
}

output {
  font-family: var(--monospace-font);
}

/****************
 * 03 COMPOENNT *
 ****************/

.c-accordion__trigger {
  padding-block: 4px;
}

.c-accordion__trigger:hover {
  font-weight: bold;
  color: var(--accordion-text);
}

.c-accordion__body {
  padding-block: 4px 16px;
  padding-inline-start: 20px;
  display: grid;
  gap: 8px;
}

.c-copyright {
  display: flex;
  align-items: center;
  gap: 4px;
}

.c-entry-section {
  color: var(--entry-section-text);
  background-color: var(--entry-section-background);
  border: 2px solid var(--entry-section-border);
  border-radius: 16px;
}

.c-entry-grid {
  display: grid;
  gap: 8px;
  align-content: start;
  padding: var(--entry-padding-inline) 24px;
}

.c-footer-link {
  font-size: 20px;
}
.c-footer-link:hover {
  color: var(--accent);
  text-decoration: underline;
}

.c-influence-item {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.c-influence-item > a {
  width: 100%;
}
.c-influence-item > span {
  margin-left: 1rem;
}
@media screen and (min-width: 25rem) {
  .c-influence-item > a {
    gap: 16px;
    width: 10rem;
  }
}

.c-inline-link {
  text-decoration: underline;
}
.c-inline-link:hover {
  color: var(--accent);
}

.c-inline-list {
  padding-left: 24px;
  list-style: revert;
}

.c-io-section {
  display: grid;
  gap: 16px;
}

.c-io-link {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  padding-block: 4px;
}
.c-io-link--inline {
  font-size: inherit;
  text-decoration: underline;
}

.c-io-link:hover {
  text-decoration: underline;
}

.c-main-section {
  padding: 64px var(--site-gutter);
  background-color: var(--main-section-background);
  color: var(--main-section-text);
  min-height: calc(100vh - var(--site-header-height));
}

.c-meta-link:hover {
  color: var(--accent);
  text-decoration: underline;
}

.c-meta-list {
  color: var(--body-text-light);
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
.c-meta-list > :not(:first-child)::before {
  content: " · ";
}

.c-nav-list {
  height: 100%;
  display: flex;
  align-items: center;
}

.c-nav-list__item {
  height: 100%;
  display: flex;
}

.c-nav-list__item--end {
  margin-left: auto;
}

.c-nav-link {
  font-size: 20px;
  padding-inline: var(--nav-link-padding-inline);
  height: 100%;
  display: flex;
  color: var(--nav-link-text, inherit);
  font-family: var(--monospace-font);
  align-items: center;
}
@media screen and (min-width: 40rem) {
  .c-nav-link {
    font-size: 24px;
  }
}

.c-nav-link:hover {
  background-color: var(--body-background);
}

.c-pronounced {
  text-decoration: underline;
}
.c-pronounced:hover {
  color: #fabd2f;
}

.c-scroll-anchor {
  scroll-margin-block-start: var(--site-header-height);
}

.c-section-art {
  /* color: var(--section-art-stroke, var(--main-section-text)); */
  /* justify-self: center; */
  margin-left: 4px;
}

.c-section-grid {
  align-content: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}

.c-section-grid__item--fill {
  grid-column: 1 / -1;
}

@media screen and (min-width: 60rem) {
  .c-section-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 90rem) {
  .c-section-grid--third {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.c-site-header {
  position: sticky;
  top: 0;
  height: var(--site-header-height);
}
.c-site-nav {
  height: 100%;
  font-weight: bold;
  background-color: var(--header-background);
  display: flex;
  flex-wrap: wrap;
  padding-inline: calc(var(--site-gutter) - var(--nav-link-padding-inline));
}

.c-tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.c-tech-list > * {
  border: 1px solid var(--body-text-light);
  border-radius: 4px;
  padding-inline: 12px;
  padding-block: 2px;
  padding-inline: 8px;
}

.c-terminal {
  padding-inline: var(--site-gutter);
  padding-block: 48px;
  display: block;
  color: var(--terminal-text);
  font-size: 24px;
  font-weight: bold;
  background-color: var(--terminal-background);
}

@media screen and (min-width: 40rem) {
  .c-terminal {
    font-size: 32px;
  }
}

.c-terminal__prompt {
  color: var(--terminal-text-light);
}

.c-title-link {
  color: var(--accent);
}

.c-title-link:hover {
  text-decoration: underline;
}

/************
 * 04 UTILS *
 ************/

.u-palette-aqua {
  --accent: #83a598;
  --main-section-text: black;
  --main-section-background: var(--accent);
  --nav-link-text: var(--accent);
}

.u-palette-purple {
  --accent: #d3869b;
  --accordion-text: var(--accent);
  --entry-section-background: var(--body-background);
  --entry-section-border: var(--body-background);
  --entry-section-text: var(--terminal-text);
  --h2-color: var(--accent);
  --main-section-background: var(--terminal-background);
  --nav-link-text: var(--accent);
  --dot-color: var(--accent);
  --dot-background: var(--terminal-background);
}

.u-palette-yellow {
  --accent: #fabd2f;
  --accordion-text: var(--accent);
  --entry-section-background: var(--body-background);
  --entry-section-border: var(--body-background);
  --entry-section-text: var(--terminal-text);
  --main-section-background: var(--accent);
  --main-section-text: black;
  --nav-link-text: var(--accent);
}

.u-palette-orange {
  --accent: #fe8019;
  --h2-color: #fe8019;
  --nav-link-text: var(--accent);
}

.u-dot-background {
  background: linear-gradient(90deg, var(--terminal-background) 15px, transparent 1%) center,
    linear-gradient(var(--terminal-background), 15px, transparent 1%) center, var(--dot-color);

  background-size: 16px 16px;
}
