/**********
 * 00 VAR *
 **********/
:root {
  --site-gutter: 40px;
}

/************
 * 01 RESET *
 ************/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul,
ol {
  list-style: none;
}

summary {
  list-style: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**************
 * 02 ELEMENT *
 **************/
body {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

a {
  cursor: pointer;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

/****************
 * 03 COMPOENNT *
 ****************/
.c-site-header {
  position: sticky;
  top: 0;
  height: 60px;
}
.c-site-nav {
  height: 100%;
  background-color: white;
  border-bottom: 2px solid rgb(34, 34, 34);
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-inline: var(--site-gutter);
}

.c-terminal {
  padding-inline: var(--site-gutter);
  padding-block: 32px;
  display: block;
  color: white;
  font-size: 32px;
  background-color: rgb(34, 34, 34);
}

.c-nav-list {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.c-nav-list__item {
  height: 100%;
  display: flex;
}

.c-nav-list__item--end {
  margin-left: auto;
}

.c-nav-link {
  font-size: 24px;
  height: 100%;
  display: flex;
  align-items: center;
}

.c-main-grid {
  display: grid;
  grid-template-columns: var(--site-gutter) 1fr var(--site-gutter);
  row-gap: 64px;
}
.c-main-grid > * {
  grid-column: 2 / span 1;
}
.c-main-grid > .c-main-grid__item--fill {
  grid-column: 1 / -1;
}

.c-section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 24px;
}
.c-section-grid > .c-section-grid__item--fill {
  grid-column: 1 / -1;
}

.c-entry-grid {
  display: grid;
  grid-gap: 8px;
  align-content: start;
}
/************
 * 04 UTILS *
 ************/
